@import "partials/_reset";
@import "partials/_variables";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-size:1vw;
  font-family: $font;
}

$gutter: 0;
@mixin grid($cols) {
  @media screen and (min-width: 400px) {
    display: flex;
    @for $i from 1 through $cols {
      .col-#{$i} {
        flex: 0 0 (100% / $cols) * $i;
      }
    }
  }
}
.container {
  width: 80%;
  margin: 10% auto;
  padding: 0 $gutter;
  .row {
    margin-left: -$gutter;
    margin-right: -$gutter;
    [class*="col-"] {
      padding: 0 $gutter;
      margin-bottom: $gutter;
    }
    @include grid(8);
  }
}
.container{
  box-shadow:3px 3px 6px black;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;

}
.box {
  padding: 0;
  background: rgb(105, 20, 20);
  color: #fff;
  font-weight: 700;
  text-align: center;
  min-height: 50px;
  flex: 1;
  border:1px solid black;
}

.box-1 {
  background-color: $dark-background;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  height: 5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  input{
    width: 18vw;
    height: 2.5vw;
    background-color: $light-background;
    border: 1px solid $light-background;
    //margin: 1.2vw;
    border-radius: 50px;
    padding: 0 2vw;
    font-size: 1.3vw;

  }
  .search{
    position: relative;
  }
  .fa-search{
    color:$color;
    font-size: 1.4vw;
    position: absolute;
    left:15.5vw;
    top:0.6vw;
    cursor: pointer;
  }
  .fa-map-marked-alt{
    color:$color;
    font-size: 2.3vw;
    position: absolute;
    left:19vw;
    top:0.1vw;
    cursor: pointer;
  }
}
.box-2 {
  background-color: $third-color;
  height: 5vw;
  font-size: 3vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  .time{
    font-size: 2vw;
  }
}
.box-3 {
  background-color: yellow;

}
.box-4 {
  background-color: blue;
}

.box-5 {
  background-color: red;
}
.header-wrapperA{
  width: 100%;
  color: red;
}
.header-wrapperB{
  width: 100%;
  color: blue;
}

@media screen and (max-width: 600px) {
  .container{
    margin: 0;
    width: 100%;
    border-radius: unset;
    .box-1{
      border-radius: unset;
      height: 15vw;
      input{
        width: 50vw;
        height: 7vw;
        font-size: 3vw;
      }
      .fa-search{
        font-size: 4vw;
        left:43vw;
        top:1.5vw;
      }
      .fa-map-marked-alt{
        font-size: 5.5vw;
        left:52.5vw;
        top:0.7vw;
      }
    }
    .box-2 {

      height: 5vw;
      font-size: 6vw;

      .time{
        font-size: 4vw;
      }
    }
  }
}

@media screen and (min-width: 601px) and (max-width: 899px) {

}
@media screen and (min-width: 900px) {

}

